body {
    background: linear-gradient(135deg, #0d1b2a, #1b263b); /* Темный градиент */
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#app {
    text-align: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

h1 {
    font-size: 36px;
    color: #A702AA; /* Фиолетовый */
    margin-bottom: 20px;
}

#logo {
    margin-bottom: 20px;
}

#logo img {
    max-width: 100%;
    height: auto;
    width: 220px;
    height: 220px;
}

#game-section {
    margin: 20px 0;
}

#start-game {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #A702AA; /* Фиолетовый */
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#start-game:hover {
    background-color: #ff00ff; /* Розовый */
}

#bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(167, 2, 170, 0.2)); /* Светлый градиент */
    backdrop-filter: blur(10px); /* Размытие для эффекта стекла */
    display: flex;
    
    padding: 15px 0; /* Увеличили отступы */
    border-top: 1px solid rgba(255, 255, 255, 0.2); /* Легкая граница */
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    gap: 15px; /* Отступ между иконкой и текстом */
}

.menu-item:hover {
    transform: scale(1.1);
}

.menu-icon {
    width: 40px;
    height: 40px;
}

.menu-label {
    font-size: 14px;
    color: #00ffff; /* Голубой */
}

.hidden {
    display: none;
}

#fleet-section {
    margin-top: 20px;
}

#fleet-list {
    list-style-type: none;
    padding: 0;
}

#fleet-list li {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 5px 0;
    border-radius: 5px;
    color: #00ffff; /* Голубой */
}